.form > .sort-filter-form {
  margin: 0px 0px 0px 0px;
}

.col-button {
  margin: 0px 0px 0px 10px;
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
