#sort-filter {
  margin: 10px 0px 0px 0px;
  padding: 2px 2px 2px 2px;
  border: 1px solid black;
}

#form-filter {
  margin: 10px 0px 0px 0px;
  padding: 5px 0px 2px 2px;
  border: 1px solid black;
}

.col-button {
  margin: 0px 0px 0px 10px;
}

#col-selection {
  margin: 0px 0px 0px 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
